@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">ASP</h1>
    <p><a href="/Home/Intro">Вступ</a>.</p>
    <p><a href="/Home/Scheme">Схема взаємодії</a>.</p>
    <p><a href="/Home/UrlPage">URL</a>.</p>
    <p><a href="/Home/Razor">Основи Razor</a>.</p>
    
    <!-- Пряме посилання - не чутливе до змін правил маршрутизації -->
    <p><a href="/Home/PassData">Моделі передачі даних</a>.</p>
    <p><a href="/Home/ProductsTable">Таблиця з продуктами ДЗ</a>.</p>
    
    <!-- тег-помічник - сформує посилання за діючим правилом маршрутизації -->
    <p><a asp-controller="Home"asp-action="DisplayTemplates">Шаблони відображення даних</a>.</p>
    
    <!-- незазначені атрибути помічника - беруться з оточення: 
    контроллер буде підставлено поточний - Home -->
    <p><a asp-action="TagHelpers">Тег-помічники</a>.</p>
    <p><a asp-controller="User">Сторінка користувача</a>.</p>
</div>