@model ASP_201.Models.Home.PassDataModel

@{
    ViewData["Title"] = Model.Header;
}
<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
</div>

<p>
    Хоча ASP деталізується як ASP.NET MVC, розуміння "моделі" у ньому
    дещо відрізняється від паттерну MVC. У паттерні модель - це архітектурна
    частина програми, призначена для "постачання даних". У ASP модель - 
    це об'єкт (клас), який використовується для передачі даних від
    контроллера до представлення.
</p>
<p>
    Моделі спрощують використання ViewData, інкапсулюючи дані в одному об'єкті.
    Для впровадження моделі необхідно: <br/>
    <ul>
        <li>
            У папці Models створюємо папку з іменем контроллера (Home)
        </li>
        <li>
            У папці Home створюємо клас з назвою представлення (PassDataModel)
        </li>
        <li>
            У класі описуємо поля / властивості
        </li>
        <li>
            У контроллері створюємо об'єкт цього класу (var model = new...)
            та передаємо його у виклик View(model)
        </li>
        <li>
            На початку представлення додаємо інструкцію &commat;model і зазначаємо її тип
        </li>
        <li>
            У тілі представлення звертаємось до моделі через властивість Model
        </li>
        <li></li>
    </ul>
</p>
