@{
    ViewData["Title"] = "Сесії";
}

<div>
    <h1 class="display-4">HTTP-сесії</h1>
</div>
<p>
    HTTP-сесії - механізм збереження даних на сервері з прив'зякою до
    певного клієнта (браузера).
</p>
<p>
    Налагодження та включення механізму сесії - див. <a href="https://learn.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-7.0">документацію</a>
</p>
<p></p>
<p></p>
<p></p>