@{
    ViewData["Title"] = "Тег-помічники";
}

<div class="text-center">
    <h1 class="display-4">Тег-помічники</h1>
</div>

<p>
    При створенні посилань (у т.ч. форм) ми зазначаємо адресу
    <code>
        &lt;a href="/Home/TagHelpers">
    </code>
    Ця адреса має узгоджуватись із правилом маршрутизації <br/>
    <code>
        pattern: "{controller=Home}/{action=Index}/{id?}")
    </code><br />
    Тобто на першому місці - контролер, на другому - метод(action)
</p>
<p>
    Правила маршрутизації у процесі створення ПЗ можуть зазнавати змін.
    Наприклад, до них можуть бути додані відомості про культуру (uk-UA).
    Як правило, ці відомості зазначають першими в URL
    <code>
        &lt;a href="/uk-UA/Home/TagHelpers">
    </code><br />
</p>
<p>
    Для того щоб посилання мало змогу деякої перевірки валідності, а
    також для забезпечення еластичності (адаптації для змін правил
    маршрутизації), використовуються тег-помічники - звичайні теги
    з наявними asp-xxxxx атрибутами. Також можливо зазначити лише
    частину з цих атрибутів, інші будуть взяті з оточення або за замовченням.
</p>