@{
    ViewData["Title"] = "UrlPage";
}

<div class="text-center">
    <h1 class="display-4">URL</h1>
</div>
<p>
    Протокол - набор правил, задающих форматы сообщений и процедуры, которые позволяют компьютерам и прикладным программам обмениваться информацией.<br />
</p>
<p>
    домен (origin) -  это важная концепция в модели безопасности веб-приложений.
    В рамках этой политики веб-браузер позволяет скриптам, находящимся на одной веб-странице получить данные на второй веб-странице, но только если обе веб-страницы имеют одинаковый источник (Origin).<br />
</p>
<p>
    протокол - натуральное число (как правило, в диапазоне от 1 до 216-1=65 535), записываемое в заголовках протоколов транспортного уровня (например, TCP),
    которое используется для определения процесса-получателя пакета в пределах одного хоста.<br />

</p>
<p>
    PATH (шлях) - набор символов, показывающий расположение файла или каталога в файловой системе.<br />
</p>
<p>
    хеш - функция, осуществляющая преобразование массива входных данных произвольной длины в выходную битовую строку установленной длины, выполняемое определённым алгоритмом.<br />
</p>
<p>
    Параметр URL представляет собой пару "ключ-значение". Между ключом и значением ставится знак "=", а между разными параметрами – знак "&".<br />
</p>