@{
    ViewData["Title"] = "Registration";
}

<div>
    <h1 class="display-4">Реєстрація нового користувача</h1>
</div>

Д.З. підібрати bootstrap-шаблон для форми з урахуванням наступних полів:
- Логін
- Пароль
- повтор паролю
- реальне ім'я
- E-mail